<ul nz-menu nzMode="inline">
    <li nz-submenu nzTitle="My Info" nzIcon="user" nzOpen>
      <ul>
        <li nz-menu-group nzTitle="Business Details">
          <ul>
            <li nz-menu-item nzSelected>User Info</li>
            <li nz-menu-item>Billing Details</li>
          </ul>
        </li>
        <li nz-menu-group nzTitle="My Bots">
         <!---
            <ul>
            <li nz-menu-item>My Bots</li>
            <li nz-menu-item>+ Add New Bot</li>
          </ul>
        </li>
      </ul>
      -->
    </li>
    <li nz-submenu nzTitle="Bots" nzIcon="appstore">
      <ul>
        <li nz-menu-item>Bot Store</li>
        <li nz-submenu nzTitle="My Bots">
          <ul>
            <li nz-submenu nzTitle="Retail Bot">
              <ul>
                <li nz-menu-item>Edit</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!----
    <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
      <ul>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
      </ul>
    </li>
    --->
  </ul>